.keep-nav {
    background: gray;
    padding: 20px;
    align-items: center;
}
.keep-nav-logo{
    font-size: 2em;
}
.nav-item {
    font-size: 2em;
    margin-left: 20px;
    transition: all .3s;
}

.nav-item:hover {
    transform: scale(2)
}

.keep-nav input {
    padding: 5px;
}

@media (max-width:700px){
    .keep-nav {
    flex-direction: column;
    padding: 10px;
        margin: 20px 0;
    }
    }
    .filter-container{
        /* align-self: baseline; */
    }
    .filter-container{
        /* width: 200px; */
    }
}