.note-container {
    align-items: flex-start;
    grid-gap: 5px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow:  dense;
}



.note-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background: #0c9a9a;
    color: #fff;
    grid-column-start: auto;
    grid-row-start: auto;
    color: #fff;    
    padding: 5px;
    outline: 3px solid whitesmoke;
    align-items: flex-start;

}

.note-item p {
    padding: 10px;
}

.note-item img {
    height: 50px;
    /* width: 100%; */
}
