.email-list{
    width: 100%;
}

.title-email-list{
    display: flex;
    background-color: gainsboro;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 0 2px black;
    justify-content: space-between;
}
.title-email-list:hover{
    box-shadow: 0 0 15px black;
}
.btn-delete:hover{
    color: rgb(230, 230, 230);
}
.title-email-item{
    margin-right: 50px;
}
.readEmail{
    background-color: rgb(179, 179, 179);

}

.nav-bar-email{
    background-color: gainsboro;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
}

.email-container{
    display: flex;
}
.manu-email{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: gainsboro;
    margin: 0 10px;
    height: 100%;
    align-items: center;
    padding: 20px;
    padding-left: 0;
}
.btn-manu-email{
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
    padding: 8px;
    width: 100%;
}
.btn-manu-email:hover{
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.btn-send-email{
    background-color: white;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0px 2px 5px black;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21px;
}
.btn-send-email:hover{
    box-shadow: 0px 2px 30px black;
}
.title-header-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.filter-emails{
    width: 100%;
    height: 40px;
    border-radius: 34px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.email-send-form{
    display: flex;
    flex-direction: column;
}

.email-details-container{
    width: 100%;
    
}

.btns-header{
    background-color: gainsboro;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.btn-det{
    font-weight: bold;
    margin-left: 21px;
}
.star{
    color: rgb(255, 217, 0);
    text-shadow: 0 0 8px black;
}